# Contract Verification

We display verified contracts using information from [Sourcify](https://sourcify.dev/).

For more details on how the integration works, please check the [Contract verification](../contract-verification/) chapter.
