# Verification

Their online [Verifier UI](https://sourcify.dev/#/verifier) allows you to verify contracts in many different ways.

Please take a look at their docs. It is out of scope of this documentation to explain all different ways they can verify contracts.
